body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:932px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:29px;
  top:29px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:593px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:593px;
}
#u2 {
  position:absolute;
  left:2px;
  top:288px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:50px;
  width:820px;
  height:508px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:508px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:80px;
}
#u5 {
  position:absolute;
  left:214px;
  top:0px;
  width:417px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:413px;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:278px;
  top:214px;
  width:300px;
  height:45px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 10%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 10%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 10%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7.mouseDown {
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u9 {
  position:absolute;
  left:269px;
  top:289px;
  width:150px;
  height:18px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:18px;
}
#u11 {
  position:absolute;
  left:459px;
  top:289px;
  width:133px;
  height:18px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:129px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:323px;
  top:94px;
  width:200px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:323px;
  top:154px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:278px;
  top:80px;
  width:300px;
  height:53px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background-color:#006699;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
}
#u16 {
  position:absolute;
  left:278px;
  top:144px;
  width:300px;
  height:53px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
  background-color:#006699;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
}
#u3_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:508px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:58px;
}
#u18 {
  position:absolute;
  left:1px;
  top:1px;
  width:267px;
  height:58px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:263px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:53px;
}
#u20 {
  position:absolute;
  left:1px;
  top:82px;
  width:335px;
  height:53px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u21 {
  position:absolute;
  left:20px;
  top:18px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:46px;
}
#u22 {
  position:absolute;
  left:1px;
  top:144px;
  width:335px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u23 {
  position:absolute;
  left:20px;
  top:15px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:1px;
  top:423px;
  width:334px;
  height:45px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24.mouseDown {
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:330px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:9px;
  top:362px;
  width:253px;
  height:17px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:46px;
}
#u28 {
  position:absolute;
  left:1px;
  top:200px;
  width:335px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u29 {
  position:absolute;
  left:20px;
  top:15px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u30 {
  position:absolute;
  left:1px;
  top:273px;
  width:103px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u31 {
  position:absolute;
  left:20px;
  top:15px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u32 {
  position:absolute;
  left:117px;
  top:273px;
  width:103px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u33 {
  position:absolute;
  left:20px;
  top:15px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:46px;
}
#u34 {
  position:absolute;
  left:233px;
  top:273px;
  width:103px;
  height:46px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u35 {
  position:absolute;
  left:20px;
  top:15px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u36 {
  position:absolute;
  left:20px;
  top:156px;
  width:200px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u38 {
  position:absolute;
  left:20px;
  top:98px;
  width:200px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u40 {
  position:absolute;
  left:20px;
  top:212px;
  width:200px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u42 {
  position:absolute;
  left:14px;
  top:285px;
  width:80px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u44 {
  position:absolute;
  left:128px;
  top:285px;
  width:80px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u46 {
  position:absolute;
  left:244px;
  top:285px;
  width:80px;
  height:22px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u3_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:508px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:174px;
}
#u48 {
  position:absolute;
  left:167px;
  top:118px;
  width:504px;
  height:174px;
  color:#FFFFFF;
  text-align:center;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:500px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:255px;
  top:328px;
  width:334px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
}
#u50_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u50.mouseDown {
}
#u51 {
  position:absolute;
  left:2px;
  top:16px;
  width:330px;
  word-wrap:break-word;
}
#u3_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:508px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:134px;
}
#u52 {
  position:absolute;
  left:170px;
  top:98px;
  width:504px;
  height:134px;
  color:#FFFFFF;
  text-align:center;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:500px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:255px;
  top:328px;
  width:334px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
}
#u54_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u54.mouseDown {
}
#u55 {
  position:absolute;
  left:2px;
  top:16px;
  width:330px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:53px;
}
#u57 {
  position:absolute;
  left:255px;
  top:248px;
  width:335px;
  height:53px;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u58 {
  position:absolute;
  left:20px;
  top:18px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:323px;
  top:262px;
  width:200px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-color:transparent;
  font-family:'Century Gothic';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u3_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:508px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:111px;
}
#u60 {
  position:absolute;
  left:170px;
  top:98px;
  width:504px;
  height:111px;
  text-align:center;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:500px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 255, 1) 0%, rgba(0, 255, 255, 1) 0%, rgba(0, 153, 204, 1) 6%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:255px;
  top:265px;
  width:334px;
  height:45px;
  font-size:12px;
  color:#FFFFFF;
}
#u62_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 102, 153, 1) 0%, rgba(0, 102, 153, 1) 0%, rgba(0, 153, 204, 1) 8%, rgba(0, 153, 204, 1) 100%, rgba(0, 153, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u62.mouseDown {
}
#u63 {
  position:absolute;
  left:2px;
  top:16px;
  width:330px;
  word-wrap:break-word;
}
